/*---------        quienes_somos       -----------*/
#contenido{ overflow:hidden; height:auto}
.quenes_left{float:left; width:738px; height:auto}
.quenes_right{ float:left; width:236px; height:auto; margin:0 0 25px 31px;}

/*---------        publicaciones      -----------*/


.publicaciones_left{float:left; width:704px; height:auto;}
.publicaciones{ float:left;width:200px; height:328px; overflow:hidden; margin:0 34px 0 0; background:url(../imgs/publicaciones.jpg) no-repeat 0 0}
.publicaciones:hover{ background-position:0 -420px}
.revista_llorens{ display:block; width:174px; height:239px; overflow:hidden; margin:14px 0 18px 14px;}
.t_edicion{color:#727272; margin:0 5px 0 28px}
.t_fecha{ font:bold 12px Arial, Helvetica, sans-serif;color:#FD4D01; margin-left:5px}
.ver_edicion{ display:block; width:163px; height:29px; text-align:center; font:bold 12px  Arial, Helvetica, sans-serif; color:#FFF; background:url(../imgs/ver_edicion.png) no-repeat; padding-top:4px; text-decoration:none; margin:6px 0 0 18px}
.ver_edicion:hover{ background-position:0 -33px}
.linea_edicion{ margin:10px 0 10px 0}

#paginado{ height:23px; width:1008px; border-right:1px solid #9E9E9E; margin:15px 0 25px 0;font:bold 11px Verdana, Geneva, sans-serif; color:#fff; background:#484747; text-align:center; padding-top:7px}
#paginado a{ text-decoration:none; font:bold 11px Verdana, Geneva, sans-serif; color:#CFCFCF; padding:0 5px 0 5px}
#paginado a:hover{ color:#FF9600;text-decoration:underline}
#paginado #active_pag{ color:#FF9600; text-decoration:underline}
.ant{ margin:0 12px 0 12px}
.sig{ margin:0 12px 0 12px}


#paginado2{ height:23px; width:668px; border-right:1px solid #9E9E9E; margin:15px 0 25px 0;font:bold 11px Verdana, Geneva, sans-serif; color:#fff; background:#484747; text-align:center; padding-top:7px}
#paginado2 a{ text-decoration:none; font:bold 11px Verdana, Geneva, sans-serif; color:#CFCFCF; padding:0 5px 0 5px}
#paginado2 a:hover{ color:#FF9600;text-decoration:underline}
#paginado2 #active_pag{ color:#FF9600; text-decoration:underline}
.ant{ margin:0 12px 0 12px}
.sig{ margin:0 12px 0 12px}

.publicaciones_right{ float:left; width:304px; height:auto; margin-bottom:25px;}
.banner_contacto{ width:304px; height:254px; margin-bottom:22px; background:url(../imgs/banner_contacto.jpg) no-repeat}


/*---------        contactenos      -----------*/


#datos{ float:left; width:532px; height:auto; margin-bottom:20px}
#datos ul{ margin:4px 0 0 15px;}
#datos li{ list-style-image:url(../imgs/list.jpg); margin-bottom:4px}
#datos li span{ font:bold 12px Arial, Helvetica, sans-serif; color:#BE0004; padding-right:4px}
.linea_cont{ margin:12px 0 15px 0 }
.naranja{ color:#FF6600; text-decoration:underline}
#formulario{float:left; width:358px; height:auto; margin:0 0 30px 80px}
.txt{ width:329px; height:33px; border:0px; padding:0 6px 0 6px; background:url(../imgs/txt.jpg) no-repeat;font:normal 14px Arial, Helvetica, sans-serif; color:#727272}
#formulario textarea{ width:329px; height:90px; border:0px; padding:3px 6px 0 6px; background:url(../imgs/textarea.jpg) no-repeat;font:normal 14px Arial, Helvetica, sans-serif; color:#727272}
#btn_reset{ width:83px; height:25px; border:0; cursor:pointer; font:bold 12px Arial, Helvetica, sans-serif; color:#fff; background:url(../imgs/btn_subir.jpg) no-repeat; margin:6px 4px 0 168px}
#btn_reset:hover{ background-position:0 -25px}
#btn_subir{ width:83px; height:25px; border:0; cursor:pointer; font:bold 12px Arial, Helvetica, sans-serif; color:#fff; background:url(../imgs/btn_subir.jpg) no-repeat;}
#btn_subir:hover{ background-position:0 -25px}
#confirmacion{float:left; width:358px; height:auto; margin:0 0 30px 80px; display:none; padding-top:100px; text-align:center}
.loadingn{ color:#D50006}

/*---------        registro      -----------*/

#registro{ padding-left:110px; margin-bottom:30px}
#registro .lab_registro{ float:left; width:140px; text-align:right; margin-right:5px; margin-top:10px; height:auto; background:none;font:bold 12px Arial, Helvetica, sans-serif;color:#535353;}
#registro .input_registro{ float:left; width:179px; height:33px; background:url(../imgs/input_registro.jpg) no-repeat; border:0;font:normal 13px Arial, Helvetica, sans-serif; color:#535353; padding:0 6px 0 6px; margin-bottom:6px}
.form_left{ float:left; width:358px; height:auto; padding-top:10px}
.form_right{ float:left; width:358px; height:auto;padding-top:10px }
#btn_registro{ width:133px; height:25px; border:0; cursor:pointer; font:bold 12px Arial, Helvetica, sans-serif; color:#fff; background:url(../imgs/btn_registro.jpg) no-repeat; margin:25px 0 20px 340px}
#btn_registro:hover{ background-position:0px -25px}
.input_radio{ float:left;overflow:hidden; padding-top:4px}
.input_radio input{ margin-top:5px}
.input_radio span{font:bold 12px Arial, Helvetica, sans-serif;color:#535353;}
.name_female{ margin-left:28px}
.selec{ width:191px; height:33px; border:0; background:url(../imgs/selec.jpg) no-repeat}


/*---------        cuentas      -----------*/

#mi_cuenta{ width:1003px; height:auto; overflow:hidden; border:1px solid #636363; margin:10px 0 30px 0; background:url(../imgs/bg_mi_cuenta.jpg) repeat-y}
#mi_cuenta h3{ font:bold 12px Arial, Helvetica, sans-serif; color:#FFF; margin:0 0 10px 15px}
.cuenta_left{float:left; width:201px; height:auto; padding:20px 0 0 20px;}
.cuenta_left ul{ margin:0 0 40px 14px}
.cuenta_left li{ list-style-image:url(../imgs/vinieta.jpg); margin-bottom:4px}
.cuenta_left a{ text-decoration:none; font:normal 11px Verdana, Geneva, sans-serif; color:#fff}
.cuenta_left a:hover{ text-decoration:underline}
#mi_cuenta #active_datos{ font-weight:bold}

#cuenta_right{ float:left; width:538px; height:auto; padding:20px 0 0 30px}
.titu_datos{ height:24px;background:url(../imgs/titu_datos.jpg) no-repeat; padding:7px 0 0 38px; font:bold 14px  Verdana, Geneva, sans-serif; color:#A30005}
#cuenta_right .lab_registro{ float:left; width:140px; text-align:right; margin-right:5px; margin-top:10px; height:auto; background:none;font:bold 12px Arial, Helvetica, sans-serif;color:#535353;}
#cuenta_right .input_registro{ float:left; width:179px; height:33px; background:url(../imgs/input_registro.jpg) no-repeat; border:0;font:normal 13px Arial, Helvetica, sans-serif; color:#535353; padding:0 6px 0 6px; margin-bottom:6px}
#btn_datos{ width:133px; height:25px; border:0; cursor:pointer; font:bold 12px Arial, Helvetica, sans-serif; color:#fff; background:url(../imgs/btn_registro.jpg) no-repeat; margin:10px 0 20px 20px}
#btn_datos:hover{ background-position:0px -25px}
.datos_regresar{ color:#D60006; font:bold 11px  Arial, Helvetica, sans-serif; text-decoration:underline; margin:0 0 0 140px}
.form_datos{ padding-left:110px;}


.titu_direciones{ height:24px;background:url(../imgs/titu_direciones.jpg) no-repeat; padding:7px 0 0 38px; font:bold 14px  Verdana, Geneva, sans-serif; color:#A30005}
.class_selec{float:left; width:190px;font:normal 13px Arial, Helvetica, sans-serif; color:#535353; margin-bottom:6px; margin-top:8px}
.text_chek{ padding-left:148px; color:#535353}


#direcciones_right{ float:left; width:700px; height:auto; padding:20px 0 0 30px;}
.repeat_direccion{ width:600px; height:auto; overflow:hidden; border-bottom:1px solid #C8C8C8; padding:0 0 20px 0; margin:20px 0 20px 0}
.texto_direcc{ margin:15px 0 10px 0}
.texto_direcc b{ color:#A30005}
	.primer_direcc{ float:left; width:164px; height:auto;}
	.primer_direcc h6{ font:bold 11px Verdana, Geneva, sans-serif; color:#535353; margin:0 0 4px 0}
	.personalizar{ float:left; width:170px; margin:21px 0 0 106px}
		.editar{ float:left; display:block; width:64px; height:16px; background:url(../imgs/editar.jpg) no-repeat; padding-left:24px; padding-top:2px; font:bold 11px Verdana, Geneva, sans-serif; color:#D60006}
		.eliminar{ float:left; display:block; width:56px; height:16px; background:url(../imgs/eliminar.jpg) no-repeat; padding-left:24px; font:bold 11px Verdana, Geneva, sans-serif; color:#D60006}
.segunda_direccion{ float:left; width:160px; color:#D60006; font:bold 11px  Verdana, Geneva, sans-serif;}
.btn_nuva_direccion{ display:block; width:174px; height:21px; background:url(../imgs/btn_nuva_direccion.jpg) no-repeat; font:bold 12px Arial, Helvetica, sans-serif; text-decoration:none; color:#fff; text-align:center; padding-top:4px; margin:0 0 12px 0}
.btn_nuva_direccion:hover{ background-position:0 -25px}
.boton_regresar{ display:block; height:18px; margin-bottom:18px;font:bold 11px Verdana, Geneva, sans-serif; color:#D60006;}

.form_password{ padding:20px 0 0 30px}
.titu_password{ height:20px;background:url(../imgs/titu_password.jpg) no-repeat; padding:7px 0 0 38px; font:bold 14px  Verdana, Geneva, sans-serif; color:#A30005}
#cuenta_right .lab_passsword{ float:left; width:180px; text-align:right; margin-right:5px; margin-top:10px; height:auto; background:none;font:bold 12px Arial, Helvetica, sans-serif;color:#535353;}

.passw_regresar{ color:#D60006; font:bold 11px  Arial, Helvetica, sans-serif; text-decoration:underline; margin:0 0 0 154px}


/*---------        LOGIN      -----------*/

#login{ width:1003px; height:auto;}
#login h4{ font:bold 12px  Arial, Helvetica, sans-serif; color:#BE0004; margin:0 0 8px 0; background:url(../imgs/list.jpg) no-repeat left center; padding-left:12px}
.titu_login{ font:bold 12px Verdana, Geneva, sans-serif; color:#646464; margin:10px 0 0 30px}
.form_logeo{ padding:10px 0 0 30px;}
#login .lab_registro{ float:left; width:84px; text-align:right; margin-right:5px; margin-top:10px; height:auto; background:none;font:bold 12px Arial, Helvetica, sans-serif;color:#535353;}
#login .input_registro{ float:left; width:179px; height:33px; background:url(../imgs/input_log.jpg) no-repeat; border:0;font:normal 13px Arial, Helvetica, sans-serif; color:#535353; padding:0 6px 0 6px; margin-bottom:6px}
.login_left{float:left; width:384px; height:167px; margin:35px 0 60px 80px; background:#DCDCDC}
#btn_logeo{ width:83px; height:25px; cursor:pointer; border:0; background:url(../imgs/btn_logeo.jpg) no-repeat; font:bold 12px Arial, Helvetica, sans-serif; color:#fff; margin:0 0 0 100px}
#btn_logeo:hover{ background-position:0 -25px;}
.olvido_pasword_l{ color:#646464; font:bold 11px  Arial, Helvetica, sans-serif; text-decoration:underline; margin:0 0 0 15px}
.olvido_pasword_l:hover{ color:#888}
.login_right{ float:left; width:410px; height:auto; margin:40px 0 0 60px;}
.crear_cuenta{ display:block; width:153px; height:21px; background:url(../imgs/crear_cuenta.jpg) no-repeat; text-decoration:none; font:bold 12px Arial, Helvetica, sans-serif; color:#FFF; text-align:center; padding-top:4px; margin:20px 0 0 110px}
.crear_cuenta:hover{ background-position:0 -25px}


/*---------        mi cuenta      -----------*/


.mi_cuenta_right{ float:left; width:754px; height:200px; margin:20px 0 0 25px}
.bienvenido{ font:bold 14px  Verdana, Geneva, sans-serif; color:#A30005; margin-bottom:20px;}


/*---------        recuperar password      -----------*/

#recuperar_passwor{ width:680px; height:auto; margin:40px 0 80px 100px }
#recuperar_passwor .input_registro{ float:left; width:179px; height:33px; background:url(../imgs/input_log.jpg) no-repeat; border:0;font:normal 13px Arial, Helvetica, sans-serif; color:#535353; padding:0 6px 0 6px; margin-bottom:6px}
#recuperar_passwor #btn_logeo{ width:83px; height:25px; cursor:pointer; border:0; background:url(../imgs/btn_logeo.jpg) no-repeat; font:bold 12px Arial, Helvetica, sans-serif; color:#fff; margin:0 0 0 100px}
#recuperar_passwor #btn_logeo:hover{ background-position:0 -25px;}
#recuperar_passwor .label_pass{float:left; width:84px; text-align:right; margin-right:5px; margin-top:10px; height:auto; background:none;font:bold 12px Arial, Helvetica, sans-serif;color:#535353;}
#recuperar_passwor form{ margin-left:240px; padding-top:20px}


/*---------        detalle de  categorias     -----------*/


.detalle_categoria{ float:left; width:560px; height:auto; font:normal 13px  Arial, Helvetica, sans-serif;line-height:18px}
.detalle_categoria h2{ font:bold 22px Arial, Helvetica, sans-serif; color:#A30005; margin-bottom:15px;}
.detalle_categoria h3{ font:bold 14px Arial, Helvetica, sans-serif; margin-bottom:15px;}
.bg_image_detalle{ width:556px; height:304px; border:1px solid #C9C9C9; background:#FFF;}
.image_detalle{width:554px; height:302px; margin:1px 0 0 1px; overflow:hidden}
.enlace_not{ color:#FF6600}
.enlace_not b{ color:#A30005}
.enlace_not a{ text-decoration:underline; color:#FF6600}
.enlace_not a:hover{ color:#FF9146}
.linea_catg{ margin:15px 0 15px 0}
.cont_indicador{ overflow:hidden; margin:0 0 10px 0}
.num_comentario{ float:left; width:215px; height:28px; font:bold 12px  Arial, Helvetica, sans-serif; color:#A30005; background:url(../imgs/num_comentario.jpg) 	no-repeat; padding:4px 0 0 35px;}
.indicador_coment{ float:right; width:166px; height:30px; text-align:center; background:url(../imgs/indicador_coment.jpg) no-repeat;font:bold 12px  Arial, Helvetica, sans-serif; color:#fff; padding-top:6px;}

.repeat_coment{ height:auto; width:auto; margin:8px 0 25px 0; overflow:hidden;}
.foto_comentario{float:left; width:55px; height:54px; text-align:center; padding-top:1px; border:1px  solid #E3E3E3; margin:0 0 0 4px}
.texto_comentario{ float:right; width:484px; height:auto;}
.texto_comentario #name_coment{ font:bold 11px  Tahoma, Geneva, sans-serif; color:#A30005; margin:0 0 6px 0}
.icon_fecha{ width:380px; height:16px; font:normal 12px  Arial, Helvetica, sans-serif; background:url(../imgs/icon_fecha.jpg) no-repeat; color:#FF6600; padding-left:20px; margin-top:4px}
.titulo_comentario{ width:548px; height:28px; background:url(../imgs/titulo_comentario.jpg) no-repeat; font:bold 11px Tahoma, Geneva, sans-serif; text-transform:uppercase; color:#FFF; padding:2px 0 0 8px; margin:0 0 10px 0}
.label_coment{ float:none; width:100px; font:bold 12px  Tahoma, Geneva, sans-serif; color:#A30005; background:none; margin-bottom:5px; padding:0}
.input_coment{width:280px; height:36px; border:0; background:url(../imgs/input_coment.jpg) no-repeat; font:normal 13px Arial, Helvetica, sans-serif; color:#535353; padding:0 8px 0 8px; margin-bottom:6px; margin-top:4px}
.textarea_comentario{width:538px; height:70px; border:0; background:url(../imgs/textarea_comentario.jpg) no-repeat; font:normal 13px Arial, Helvetica, sans-serif; color:#535353; padding:6px 8px 0 8px; margin-bottom:6px; overflow-y:auto}
#boton_comentario{ width:163px; height:25px; cursor:pointer; border:0px; margin:10px 0 20px 0; font:bold 12px  Arial, Helvetica, sans-serif; color:#fff; padding-bottom:2px; background:url(../imgs/boton_comentario2.jpg) no-repeat}
#boton_comentario:hover{ background-position:0 -25px}

.center_categoria{ float:left; width:122px; height:auto; margin:0 12px 0 10px}
.bg_center_categoria{width:108px; height:auto; background:url(../imgs/bg_center_categoria.jpg) repeat-y; padding:3px 0 5px 14px}
#t_compartir{ font:bold 12px  Arial, Helvetica, sans-serif; color:#A30005; margin:0 0 6px 0}
.linea_comp{ margin:8px 0 8px 0}
.comp_twitter{ display:block; width:67px; height:15px; background:url(../imgs/comp_twitter.jpg) no-repeat; text-decoration:none; padding-left:23px; font:bold 11px Tahoma, Geneva, sans-serif; color:#7A7A7A}
.comp_twitter:hover{ text-decoration:underline}
.comp_facebook{ display:block; width:67px; height:15px; background:url(../imgs/comp_facebook.jpg) no-repeat; text-decoration:none; padding-left:23px; font:bold 11px Tahoma, Geneva, sans-serif; color:#7A7A7A}
.comp_facebook:hover{ text-decoration:underline}
.comp_impremir{ display:block; width:67px; height:15px; background:url(../imgs/comp_impremir.jpg) no-repeat; text-decoration:none; padding-left:23px; font:bold 11px Tahoma, Geneva, sans-serif; color:#7A7A7A}
.comp_impremir:hover{ text-decoration:underline}
#t_compartir2{ font:bold 12px  Arial, Helvetica, sans-serif; color:#A30005; margin:0 0 14px 0}
.otras_articulos{ width:92px; height:auto; margin-top:6px}
.otras_articulos a{ text-decoration:underline; font:bold 12px Arial, Helvetica, sans-serif; color:#818181}
.otras_articulos a:hover{ color:#A4A4A4}
.fecha_otras_cat{ display:block; width:71px; height:16px; margin-bottom:3px; color:#A30005; background:url(../imgs/fecha_otras_cat.jpg) no-repeat; padding-left:20px}
.banner_publicidad{ width:300px; height:250px; border:2px solid #C4C4C4; margin-bottom:10px}
.nombre_publicidad{ margin:3px 0 3px 245px; color:#7E7E7E}
.fecha_categoria{ width:44px; height:70px; position:absolute; overflow:hidden; top:270px; left:-44px; line-height:inherit;padding:15px 0 0 0px; background:url(../imgs/fecha_categoria.png) no-repeat; color:#FFF; text-align:center;}
.mayo{ font:normal 16px  Arial, Helvetica, sans-serif;}
.num_fech{font:bold 22px  Arial, Helvetica, sans-serif; position:relative; top:-1px}
.num_ano{font:bold 11px  Arial, Helvetica, sans-serif}


/*---------        TARIFAS     -----------*/


#menu_tarifa{ width:400px; height:34px; position:absolute; top:180px; left:0;}
#menu_tarifa a{ float:left; width:156px; height:22px; border-left:1px solid #fff; border-top:1px solid #fff; border-right:1px solid #fff; text-decoration:none; font:bold 13px Arial, Helvetica, sans-serif; color:#A5A5A5; text-align:center; padding-top:11px;}
#menu_tarifa a:hover{ background:#EDEDED;  border-left:1px solid #B9B9B9; border-top:1px solid #B9B9B9; border-right:1px solid #B9B9B9; color:#646464}
#menu_tarifa .puintar_tarif{background:#EDEDED;  border-left:1px solid #B9B9B9; border-top:1px solid #B9B9B9; border-right:1px solid #B9B9B9; color:#BE0004}
.tarifas{ width:1005px; height:auto; border:1px solid #B9B9B9; margin:34px 0 20px 0; overflow:hidden; background:#E6E6E6}
.tarifas h5{ font:bold 12px  Arial, Helvetica, sans-serif; color:#BE0004; margin:0 0 0 0}
.tarifa_left{float:left; width:621px; height:auto; background:#EDEDED}
.titulos_tarifas{ width:601px; height:auto; overflow:hidden; padding:20px 0 0 20px;}
.titulos_tarifas span{ color:#E36C0A}
.format_1{ float:left; font:bold 12px Arial, Helvetica, sans-serif; color:#7E7E7E; width:142px; height:auto;}
.format_2{ float:left;font:bold 12px Arial, Helvetica, sans-serif; color:#7E7E7E;  width:148px; height:auto; margin:0 62px 0 62px}
.format_3{ float:left;font:bold 12px Arial, Helvetica, sans-serif; color:#7E7E7E;  width:148px; height:auto;}

.con_filas{width:601px; height:auto; overflow:hidden ; background:#E6E6E6; padding:1px 0 2px 20px}
.bg_gris{background:#EDEDED}
.colum_1{ float:left; width:142px; height:auto;}
.colum_2{ float:left; width:150px; height:auto; margin:0 62px 0 62px}
.colum_3{ float:left; width:108px; height:auto}
.capa_blanco{ float:left; width:601px; height:auto; background:#FFF; overflow:hidden; padding:20px 0 20px 20px}

.cuenta_bancaria{float:left; width:274px; height:auto;}
.cuenta_bancaria span{ color:#BE0004}
.politicas_descuento{ float:left; width:268px; height:auto;}
.linea_blan{ float:left; margin:0 15px 0 15px}

.tarifa_right{ float:left; width:380px; height:auto; padding:20px 0 10px 0;}
.tarif{ float:left; width:108px; margin:0 0px 0 18px; font:normal 12px Tahoma, Geneva, sans-serif;}
.tarif img{ margin-bottom:4px;}
.tarif span{ color:#BE0004}
.linea_taf{ margin:6px 0 8px 18px}

.tarifa_bottom{ width:1004px; height:auto; overflow:hidden; margin-bottom:20px; position:relative; right:-10px; background:url(../imgs/tarifa_bottom.jpg) no-repeat right center}
.tarifa_bottom h5{ font:bold 12px  Arial, Helvetica, sans-serif; color:#BE0004; margin:0 0 6px 0}
.lista_ficha_tecnica{ float:left;width:395px; height:auto; margin-right:20px}
.tarifa_bottom ul{ margin:0 0 0 14px;}
.tarifa_bottom  li{ margin:0 0 2px 0; list-style-image:url(../imgs/item2.jpg)}
.tarifa_bottom b{ color:#E36C0A}

#los_select{ width:900px; height:54px; margin:15px 15px 15px 0; position:relative; overflow:hidden; background:url(../imgs/los_select.jpg) no-repeat bottom left}
.primer_select{ float:left; width:272px;}
.lab_prim{ width:auto; height:auto; margin-right:4px; background:none; color:#505050}
.linea_a{ float:left;margin:0 12px 0 12px}
#bt_buscar_fil{ position:absolute; top:0; left:536px; cursor:pointer; width:83px; height:21px; border:0; font:bold 11px  Tahoma, Geneva, sans-serif; color:#FFF; background:url(../imgs/bt_buscar_fil.jpg) no-repeat; padding-bottom:2px}
#bt_buscar_fil:hover{ background-position:0 -21px}

.p_de_distribucion{ width:auto; height:auto; overflow:hidden; padding:5px 0 20px 0}
.repeat_distrib{ float:left; width:138px; margin:0 15px 10px 15px}
.repeat_distrib h6{ font:bold 12px Arial, Helvetica, sans-serif; color:#BE0004 ; background:url(../imgs/vin.jpg) no-repeat left center; padding-left:10px;margin:3px 0 4px 0}
.repeat_distrib h6 a{ text-decoration:none; font:bold 12px Arial, Helvetica, sans-serif; color:#BE0004 ;}
.repeat_distrib h6 a:hover{ text-decoration:underline; color:#E10005}
.imagen_dist{ width:130px; height:77px; text-align:left; padding-top:6px; padding-left:4px;border:1px solid #ccc;  overflow:hidden}
.linea_center_distrib{ margin:10px 0 10px 0}





/************ scrollable ******/
/* root element for scrollable */
.scrollable {

	/* required settings */
	position:relative;
	overflow:hidden;

	/* vertical scrollables have typically larger height than width but not now */
	height:1054px;
	width:300px;
}

/* root element for scrollable items */
.scrollable .items {
	position:absolute;

	/* this time we have very large space for the height */
	height:20000em;
}


/* root element for scrollable items */
.items {	
	position:absolute;
	
	/* this time we have very large space for height */	
	height:20000em;	
	width: 300px;
	margin: 0px;
	padding:0px;
}


/* elements inside single item */


.menu_cuenta {
	 width:680px;
	 background:#FFF;
	 height:70px;
	 margin:5px 0 0 15px;
	 border: solid 1px #F7919F;
	 -moz-border-radius: 5px;
	 -webkit-border-radius: 5px;
	 border-radius: 5px;
	 }
ul.hover_block li{
	list-style:none;
	float:left;
	background: #fff;
	padding: 5px;
	width:130px; 
	position: relative; 
	margin:0 0 0 20px;
	text-align:left;
	height:60px;
	 }

ul.hover_block li a {
	display: block;
	position: relative;
	overflow: hidden;
	height: 60px;
	width: 80px;
	padding: 16px;
	color: #000;
	text-align:left;
	margin:0 0 0 15px;
	font:11px Arial, Helvetica, sans-serif;
	
}

ul.hover_block li img {
	position: absolute;
	top: 0;left:0;
	border: 0;
}


/*UPLOAD*/
#upload{  

		padding:12px;  

		font:bold 12px Arial, Helvetica, sans-serif;

        text-align:center;  

        background:#FDDBE1;  

        color:#F3183F;  

        border:1px solid #F7919F;  

        width:150px;

		display:block;  

        -moz-border-radius:5px;

		-webkit-border-radius:5px; 

		margin:0 auto; 

		text-decoration:none

    }

	#gallery2{

		list-style:none;

		margin:20px 0 0 0;

		padding:0

	}

#upload2{  

		padding:12px;  

		font:bold 12px Arial, Helvetica, sans-serif;

        text-align:center;  

        background:#FDDBE1;  

        color:#F3183F;  

        border:1px solid #F7919F;  

        width:150px;

		display:block;  

        -moz-border-radius:5px;

		-webkit-border-radius:5px; 

		margin:0 auto; 

		text-decoration:none

    }
