
.ad-gallery {/*border: solid 1px #dadada ; */width:534px; font:normal 11px Verdana, Geneva, sans-serif;}
.ad-gallery .ad-image-wrapper {width: 100%;height: 252px;position: relative; overflow: hidden; margin-bottom:4px}
.ad-gallery .ad-image-wrapper .ad-loader {position: absolute;z-index: 10;top: 48%;left: 48%;border: 1px solid #CCC;}
.ad-gallery .ad-image-wrapper .ad-next {position: absolute;right: 0;top: 0;width: 25%;height: 100%;cursor: pointer;display: block;z-index: 100;}
.ad-gallery .ad-image-wrapper .ad-prev {position: absolute;left: 0;top: 0;width: 25%;height: 100%;cursor: pointer;display: block;z-index: 100;}
.ad-gallery .ad-image-wrapper .ad-prev, .ad-gallery .ad-image-wrapper .ad-next {background: url(../img/arrows/non-existing.jpg)\9}
.ad-gallery .ad-image-wrapper .ad-prev .ad-prev-image, .ad-gallery .ad-image-wrapper .ad-next .ad-next-image {background: url(../img/arrows/ad_prev.png);width: 30px;height: 30px;display: none;position: absolute;top: 47%;left: 0;z-index: 101;}
.ad-gallery .ad-image-wrapper .ad-next .ad-next-image {background: url(../img/arrows/ad_next.png);width: 30px;height: 30px;right: 0;left: auto;}
.ad-gallery .ad-image-wrapper .ad-image {position: absolute;overflow: hidden;top: 0;left: 0;z-index: 9;}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description {position: absolute;bottom: 0px; left:0px; padding:5px 10px 0 10px; text-align:left; width: 100%;z-index: 2;background: url(../imgs/opa75.png); color:#fff;}
#gallery p{ margin:0 0 0 0; padding:5px 10px }
.ad-image-description span{ font:normal 11px  Verdana, Geneva, sans-serif; color:#FFF}
* html .ad-gallery .ad-image-wrapper .ad-image .ad-image-description {background: none;filter:progid:DXImageTransform.Microsoft.AlphaImageLoader (enabled=true, sizingMethod=scale, src='../img/arrows/opa75.png');}
.ad-gallery .ad-image-wrapper .ad-image .ad-image-description .ad-description-title {display: block;}
.ad-gallery .ad-controls {height: 20px;}
.ad-gallery .ad-info {float: left;}
.ad-gallery .ad-slideshow-controls {float: right;}
.ad-gallery .ad-slideshow-controls .ad-slideshow-start, .ad-gallery .ad-slideshow-controls .ad-slideshow-stop {cursor: pointer;}
.ad-gallery .ad-slideshow-controls .ad-slideshow-countdown {padding-left: 5px;font-size: 0.9em;}
.ad-gallery .ad-slideshow-running .ad-slideshow-start {cursor: default;font-style: italic;}
/*imeges  pequeñas  descomentar display*/
.ad-gallery .ad-nav {width: 100%;position: relative; display:none;background-color:#e8e6e7;padding:8px 0px;}
.ad-gallery .ad-forward, .ad-gallery .ad-back {position: absolute;top: 0;height: 100%;z-index: 10;}
* html .ad-gallery .ad-forward, .ad-gallery .ad-back {height: 100px;}
.ad-gallery .ad-back {cursor: pointer;left: 4px;width: 18px;display: block;background: url(../imgs/prev.gif) 0px 14px no-repeat;}
.ad-gallery .ad-forward {cursor: pointer;display: block;right: 4px;width: 18px;background: url(../imgs/next.gif) 0px 14px no-repeat;}
.ad-gallery .ad-nav .ad-thumbs {overflow: hidden;width: 83%; margin-left:27px}
.ad-gallery .ad-thumbs .ad-thumb-list {float: left;width: 9000px;list-style: none;}
.ad-gallery .ad-thumbs li {float: left}
.ad-gallery .ad-thumbs li a {display: block;}
.ad-gallery .ad-thumbs li a img {border: 1px solid #CCC;display: block; margin:4px 2px}
.ad-gallery .ad-thumbs li a.ad-active img {border: 1px solid #616161;}
.ad-preloads { position: absolute;left: -9000px;top: -9000px;}
.onLaptop { margin:8px 0 5px 5px}

