@charset "utf-8";
/* CSS Document */

#content-area{height:580px;overflow-y:auto}
#reporte{ width:100%;  width:100%; background-color:#CCC }
#reporte .titulo{height:20px;background-image:url('../../imgs/dw_bg-titulo-tarea.jpg'); height:20px }
#reporte td{ padding:3px; padding-bottom:1px; padding-top:1px}
#reporte .reg1{ background:#E6E6FE;color:#555; }
#reporte .reg1:hover{ background:#F2F583;color:#666;color:#111 }
#reporte .reg2{ background:#fff;color:#555  }
#reporte .reg2:hover{ background: #F2F583;color:#666;color:#111 }

#listado{ width:100%; background-color:#CCC; color:#444}
#listado .titulo{ background-image:url('../../imgs/dw_bg-titulo-tarea.jpg'); height:20px;}
#listado .titulo a{ color:#444; background:url(../../imgs/order.gif) no-repeat right -100px;}
#listado .sorting_asc a{ background-position:right 6px; padding-right:10px}
#listado .sorting_desc a{background-position:right -6px; padding-right:10px}

#listado .fila1{ background-color:#E6E6FE;padding-top:3px}
#listado .fila1:hover{ background-color: #F2F583}
#listado .fila1 td{padding-top:2px}
/*#listado .fila1:hover img{ padding-left:3px;filter:alpha(opacity=99);-moz-opacity:.99;opacity:.99}*/
#listado .fila2{background-color:#fff;padding-top:3px}
#listado .fila2:hover{background-color:#F2F583}
#listado .fila2 td{padding-top:2px}
/*#listado .fila2:hover img{ padding-left:3px;filter:alpha(opacity=99);-moz-opacity:.99;opacity:.99}*/
#listado td{ padding-left:2px; cursor:pointer}
#listado th{ padding-left:2px; cursor:pointer}
/*#listado td img{ padding-left:3px;filter:alpha(opacity=60);-moz-opacity:.60;opacity:.60}
#listado td img:hover{ filter:alpha(opacity=99);-moz-opacity:.99;opacity:.99 }*/

#listado th.headerSortUp a{ 
   background-position:right 5px; padding-right:10px
}
#listado th.headerSortDown a{ 
	background-position:right -5px; padding-right:10px
} 

#listadoul{ list-style:none}
#listadoul li{ overflow:hidden}
#listadoul .fila1{ background-color:#E6E6FE;border-bottom:1px solid #CCC; border-left:1px solid #CCC;border-right:1px solid #CCC}
#listadoul .fila1:hover{ background-color: #F2F583}
#listadoul .fila2{background-color:#fff; border-bottom:1px solid #CCC; border-left:1px solid #CCC;border-right:1px solid #CCC}
#listadoul .fila2:hover{background-color:#F2F583}
#listadoul .options{border-left:1px solid #CCC; float:right; width:120px; padding:1px 0; text-align:center}
#listadoul .data{float:left; padding-left:2px}
#listadoul .move{ cursor:move}